/*----------GENERAL DECLARATIONS--------------*/
:root {
    --garfieldOrange: #FF9C31;
    --garfieldBlack: black;
    --garfieldWhite: white;
    --nermalGrey: #D6C6B5;
    --arlenePink: #FFD6D6;
    --arleneRed: #CE0000;
    --odieBeige: #FFFFA5;
    --pookyBrown: #B55A00;
    --jonBlue: #65CDF4;
    --jonDarkBlue: #4078BD;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}
/*--------BODY-----------*/
body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
    background-image: url(./images/1200px-Garfield_the_Cat.svg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 99.5%;
    height: 80%;
    border: 3px dotted red;
}


/*---------START SECTION---------*/

#headertitle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    border: 3px solid cyan;
    
}

#spinnyh1 {
    font-size: 46px;
    font-weight: bold;
    border-radius: 5px;
    border: 6px dashed black;
    text-align: center;
    margin: 10px;
    background: chocolate;
    padding: 5px;
    animation: spin 10s linear infinite;
    width: 300px;
}

@keyframes spin { 
  100% { 
    transform: rotateZ(360deg);
  }
}


.startSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 100%;
    border: 3px dotted black;

}

.startSection article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin-top: 50px;
}

.startSection article p {
    max-width: 1200px;
    font-size: 30px;
    background: chocolate;
    color: var(--garfieldBlack);
    display: flex;
    flex-wrap: wrap;
    border: 6px dashed black;
    padding: 10px;
}

.startButton {
    padding: 20px;
    border-radius: 10px;
    font-size: 24px;
    margin: 30px;
}

.startButton:hover {
    scale: 1.1;
}

#startButton {
    background-color: var(--garfieldOrange);
    color: var(--garfieldWhite);
    border: 10px solid var(--garfieldWhite);
    box-shadow: 3px 3px 3px var(--garfieldBlack);
}


/*------------QUESTION SECTION-----------------*/








/*---------------SCOREBOARD SECTION--------------------*/







/*----------------RESPONSIVE BREAKPOINT SECTION-------------------*/
/*Start section*/
@media screen and (max-width: 530px) {
    #spinnyh1 {
        font-size: 36px;
        font-weight: bold;
        border-radius: 10px;
        border: 4px dashed black;
        margin: 30px;
        background: chocolate;
        animation: spin 10s linear infinite;
        width: 170px;
    }

    .startSection {
        width: 90%;
    }

    .startSection article p {
        font-size: 22px;
    }

}



/*
.startSection
.choiceSection
.scoreboardSection
.questionText
.startButton
.choiceButton
.scoreboard

#startSection
#choiceSection
#scoreboardSection
#questionText
#startButton
#playAgainButton
#choiceButton0
#choiceButton1
#choiceButton2
#choiceButton3
#scoreboard
*/