/*----------GENERAL DECLARATIONS--------------*/
:root {
    --garfieldOrange: #FF9C31;
    --garfieldBlack: black;
    --garfieldWhite: white;
    --garfieldPurple: rgb(160, 33, 160);
    --nermalGrey: #D6C6B5;
    --arlenePink: #FFD6D6;
    --arleneRed: #CE0000;
    --odieBeige: #FFFFA5;
    --pookyBrown: #B55A00;
    --jonBlue: #65CDF4;
    --jonDarkBlue: #4078BD;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

/*--------BODY-----------*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
    background-image: url(./images/1200px-Garfield_the_Cat.svg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 99%;
    height: 80%;
}


/*---------START SECTION---------*/
#headertitle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;    
}

#spinnyh1 {
    font-size: 46px;
    font-weight: bold;
    border-radius: 5px;
    border: 6px dashed black;
    text-align: center;
    margin: 10px;
    background: chocolate;
    padding: 5px;
    animation: spin 10s linear infinite;
    width: 300px;
}

@keyframes spin { 
  100% { 
    transform: rotateZ(360deg);
  }
}

.startSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 100%;
    margin: 100px;
}

.startSection article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin-top: 50px;
}

.startSection article p {
    max-width: 1200px;
    font-size: 30px;
    background: chocolate;
    color: var(--garfieldBlack);
    display: flex;
    flex-wrap: wrap;
    border: 6px dashed black;
    padding: 10px;
}

.initialForm{
    width: 200px;
} 

.startButton {
    padding: 20px;
    border-radius: 10px;
    font-size: 24px;
    margin: 30px;
    background-color: var(--garfieldPurple);
    color: var(--garfieldWhite);
    border: 9px solid var(--garfieldWhite);
    box-shadow: 3px 3px 2px 2px var(--garfieldBlack);
    max-width: 500px;
}

.startButton:hover {
    transform: scale(1.05);
    transition: ease-in-out .05s;
    cursor: pointer;
}

#startSection {
    display: none;
}

/*------------QUESTION SECTION-----------------*/
.choiceSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 100%;
    border: 3px solid black;
    margin: 100px;
    padding: 10px 50px 50px 50px;
    background: cornsilk;
}

.timerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--nermalGrey);
    padding: 5px;
    width: 60%;
    max-width: 175px;
    border: 1px solid black;
    font-size: 18px;
    margin: 30px;
}

#timerNumber {
    font-weight: bolder;
    font-size: 18px;
}

.choiceButton {
    padding: 20px;
    border-radius: 10px;
    font-size: 24px;
    margin: 15px;
    width: 60%;
    background-color: var(--garfieldPurple);
    color: var(--garfieldWhite);
    border: 10px solid var(--garfieldWhite);
    box-shadow: 3px 3px 3px 3px var(--garfieldBlack);
}

.choiceButton:hover {
    transform: scale(1.05);
    transition: ease-in-out .05s;
    cursor: pointer;
}

.choiceSection h2 {/* Question text */
    color: var(--garfieldBlack);
    font-size: 34px;
    margin-bottom: 20px;
}

#choiceSection {
    display: inherit;
}

/*---------------SCOREBOARD SECTION--------------------*/
.scoreboardSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45%;
    height: 100%;
    border: 3px solid black;
    margin: 100px;
    padding: 10px 50px 50px 50px;
    background: cornsilk;
}

.scoreboardSection h2 {
    text-align: center;
    width: 80%;
    font-size: 28px;
}

.scoreboardSection h3 {
    width: 80%;
    font-size: 18px;
}

#playAgainButton {
    padding: 15px;
}

.scoreboardUl {
    list-style-type: none;
    width: 300px;
    text-align: center;
    background-color: var(--garfieldOrange);
}

.scoreboardLi {
    margin: 3px;
    padding: 3px;
    background-color: var(--nermalGrey);
    border: 3px solid black;
}

#scoreboardSection {
    display: none;
}

/*----------------RESPONSIVE BREAKPOINT SECTION-------------------*/
/*Start section-------------*/
@media screen and (max-width: 1800px) {
    .startSection {
        margin: 1px;
    }
}

@media screen and (max-width: 750px) {
    #spinnyh1 {
        font-size: 36px;
        font-weight: bold;
        border-radius: 10px;
        border: 4px dashed black;
        margin: 30px;
        background: chocolate;
        animation: spin 10s linear infinite;
        width: 170px;
    }

    .startSection {
        width: 90%;
    }

    .startSection article p {
        font-size: 22px;
    }
}

/*Choice section-------------*/
@media screen and (max-width: 1800px) {
    .choiceSection {
        margin: 10px;
    }

    .choiceSection h2 {/* Question text */
        color: var(--garfieldBlack);
        font-size: 28px;
        margin-bottom: 20px;
    }    

    .choiceButton {
        padding: 15px;
        border-radius: 10px;
        font-size: 24px;
        margin: 15px;
        width: 60%;
        background-color: var(--garfieldPurple);
        color: var(--garfieldWhite);
        border: 7px solid var(--garfieldWhite);
        box-shadow: 3px 3px 3px 3px var(--garfieldBlack);
    }
}

@media screen and (max-width: 769px) {
    .choiceSection h2 {/* Question text */
        color: var(--garfieldBlack);
        font-size: 28px;
        margin-bottom: 20px;
    }    

    .choiceButton {
        padding: 15px;
        border-radius: 10px;
        font-size: 22px;
        margin: 13px;
        width: 80%;
        background-color: var(--garfieldPurple);
        color: var(--garfieldWhite);
        border: 6px solid var(--garfieldWhite);
        box-shadow: 3px 3px 3px 3px var(--garfieldBlack);
    }
}

@media screen and (max-width: 500px) {
    .choiceSection {
        padding: 0px 40px 40px 40px;
    }

    .choiceSection h2 {/* Question text */
        color: var(--garfieldBlack);
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
    }    

    .choiceButton {
        padding: 10px;
        border-radius: 10px;
        font-size: 22px;
        margin: 8px;
        width: 90%;
        background-color: var(--garfieldPurple);
        color: var(--garfieldWhite);
        border: 6px solid var(--garfieldWhite);
        box-shadow: 3px 3px 3px 3px var(--garfieldBlack);
    }
}

/*Scoreboard Section------------------------*/
@media screen and (max-width: 1800px) {
    .scoreboardSection {
        margin: 30px;
    }

    .scoreboardSection h2 {/* Play it again text */
        color: var(--garfieldBlack);
        font-size: 28px;
    }    
}

@media screen and (max-width: 769px) {
    .scoreboardSection h2 {/* Play it again text */
        color: var(--garfieldBlack);
        font-size: 18px;
        width: 100%;
    }   

    #playAgainButton {
        padding: 10px;
        border-radius: 10px;
        font-size: 16px;
        margin: 8px;
        width: 90%;
        background-color: var(--garfieldPurple);
        color: var(--garfieldWhite);
        border: 5px solid var(--garfieldWhite);
        box-shadow: 2px 2px 2px 2px var(--garfieldBlack);
    }
}

@media screen and (max-width: 535px) {
    .scoreboardSection h2 {/* Play it again text */
        color: var(--garfieldBlack);
        font-size: 20px;
        margin-bottom: 0px;
    }   

    .scoreboardUl {
        list-style-type: none;
        border: 3px dotted black;
        width: 200px;
        text-align: center;
    }

    #playAgainButton {
        margin: 15px;
        width: 100%;
    }
}

/*
#choiceButton0
#choiceButton1
#choiceButton2
#choiceButton3
#scoreboard
*/